.home-card-wide {
    margin-top: 7.375em;
    margin-left: auto;
    margin-right: auto;
}
.home-card-wide.mdl-card {
    width: 32em;
}

.home-card-wide > .mdl-card__title {
    color: #fff;
    height: 15em;
    background: url('../images/infinite-loop-of-human-brain-exercising-with-dumbbell-brain-training-memory-concept-with-alpha-channel_rejcl1lwl_thumbnail-small05.jpg') center / cover;
}

.home-card-wide > .mdl-card__menu {
    color: #fff;
}

main {
    background: url('../images/oHHIhSO.jpg');
}

footer {
    height: 0.625em;
}