development:
  adapter: postgresql
  encoding: unicode
  database: micro_learning
  username: <%= ENV['POSTGRESQL_USER'] %>
  password: <%= ENV['POSTGRESQL_PASS'] %>
  host: localhost

production:
  adapter: postgresql
  encoding: unicode
  database: micro_learning
  username: <%= ENV['POSTGRESQL_USER'] %>
  password: <%= ENV['POSTGRESQL_PASS'] %>

test:
  adapter: postgresql
  encoding: unicode
  database: micro_learning_test
  username: <%= ENV['POSTGRESQL_USER'] %>
  password: <%= ENV['POSTGRESQL_PASS'] %>
  host: localhost
