.mui-container
  .home-card-wide.mdl-card.mdl-shadow--2dp
    %form{ action: '/login', name: 'userLogin', method: 'POST', class: 'mui-form' }
      %legend Log In
      .mui-textfield.mui-textfield--float-label
        %input(required){ type: 'email',  name: 'email', id: 'email'}
        %label{ for: 'email'} Email
      .mui-textfield.mui-textfield--float-label
        %input(required){ type: 'password', name: 'password', id: 'password' }
        %label{ for: 'password' } Password
      %br
        %button{ type: 'submit', class: 'mui-btn mui-btn--raised' } Log In
        %a{ class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect', href: '/' } Cancel


